<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>
<body>
    <div class="container pt-5">
        <h3>Thank you for your business!</h3>
        <p>We charged your credit card for ${{last_order.total_price}}</p>
        <p>You have placed {{num_orders}} orders with Amadon.</p>
        <p>You have ordered {{total_items}} items so far and spent ${{grand_total}} with Amadon.com!</p>
        <hr>
        <p><a class="btn btn-success" href="/">Go Back</a></p>
    </div>
</body>
</html>