<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-mx-auto">
                <h1 class="m-5">Amadon Store!</h1>
                <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in all_products %}
                        <tr>
                            <form action="/purchase" method="POST">
                                {% csrf_token %}
                                <td>{{product.description}}</td>
                                <td><input type="hidden" name="product_id" value="{{product.id}}">${{product.price}}</td>
                                <td><select class="form-control" name="quantity">
                                    <option value="1">1</option>              
                                    <option value="2">2</option>              
                                    <option value="3">3</option>              
                                </select></td>
                                <td><input class="btn btn-success" type="submit" value="Buy!"></td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>